.input1Exe7 {
    width: 93%;
}
.borderTurfu {
    border-top:  1px solid lightslategray;
    
    border-bottom: 1px solid lightslategray;
}


.borderCol {
    border-top: 1px solid lightslategray;
}